

*{
    
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background-color: #dadada;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    line-height: 20px;

}
.mainclass{
    width: 1520.800px;
    height: 6267.1px;;
}
.navbar{
    height: 60px;
    background-color:#0f1111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/**navlogo**/
.nav-logo{
    height: 50px;
    width:100px;
}
.logo{

    background-image: url("logo amazon.png");
    background-size: cover;
    
    height: 50px;
    width: 100%;
    
}
.border{
    border: 1.5px solid transparent;
    
}
.border:hover{
    border: 1.5px solid white;

}
/**location**/
.delivery{
    color: #cccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.country{
    font-size: 1rem;
    margin-left: 3px;
}
.location-icon{
    display: flex;
    align-items: center;
}
/*search*/
.nav-search{
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(163, 103, 139);
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border:2px solid orange

}
.nav-language{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;

}

span{
    font-size: 0.7rem;
}
.account{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/*panel*/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options{
    width: 70%;
    font-size: 0.85rem;
}
.panel-options p{
    display:inline;
    margin-left: 15px;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.bodycontainer{
    width: 1519.200px;
    height: 4628px;
   
    
}
/*background*/
.image-section{
background-image: url("BODYIMAGE.jpg");  
background-size: cover; 
height: 400px; 
width: 1519.200px;
mask-image: linear-gradient(to bottom,#000000 80%,transparent 100% );

display: flex;
justify-content:center;
align-items: flex-end;


}

.message{
    background-color: #fffffff0;
    color: #000000;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 30px;

    
    
}
.message a{
    color: #007185;
}

.imag-slider a{
    position:absolute;
    top: 30%;
    z-index: 1;
    padding: 5vh 1vw;
    background-color: #ffffff4f;
    color: #0000007b;
    text-decoration: none;
    font-size: 32px;
    font-weight: 900;
    align-content: center;
    text-wrap: 2px;
    text-shadow: #f3f3f3;
    cursor: pointer;
    width: 80px;
    height: 250px;
    padding-inline-start: 0% ;
   padding:0px 10px;
    
    
}

.imag-slider i{
    align-content: center;
    justify-content: center;
    width: 32px;
    height: 54px;
    
}
.control_left{
    left: 0;
    margin-left: 10px;

    
   
    
}
.control_right{
    margin-left: 250px;
}
/*shopsection*/
.shopping-section{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
    
}
.box{
    width:350px;
    height: 385px;
    background-color: white;
    margin-top: 10px;
    padding: 20px 0px 15px;
   align-items: center;
  
    display: flex;
    

   
}
.box a{
font-size: 13px;
color: #007185;
font-weight: 500;
}
.box-img{
    height:304px;
    width: 325px;
   
    

   
    
  
}
.boximage1{
    width: 147.25px;
    height: 151.850px;
    float: left;
    margin: 5px;
    


   
   
}

.box-content{
    margin-right:10px;
    margin-left:10px;
 
}
.imgname{
    font-size: 12px;

}
/* product slider*/
.product-slider{
    background: #fff;
    margin: 10px 25px;
    padding: 20px;
    margin-bottom: 15px;
    overflow: hidden;
}
.product-slider .items{
    display: flex;
    overflow-x: auto;
    gap: 20px; 
}
.product-slider .items img{
    max-width: 200px;
    min-height: 200px;
}
/*hide the scrolbar*/
.product-slider .items::-webkit-scrollbar{
     display: none;
}




/*spce-section*/
.space-section{
    width: 1520.800px;
     height: 32px;
     background-color: #fff;
     margin-top: 25px;
    
}
/*discount-section*/
.history-container{
    background-color: white;
    width: 1520.800px;
    height: 607.700px;
}
.boder-container{
    width: 1520.800px;
    height: 567px;
    border: 1px solid #DDD;
    align-items:center ;
    justify-content: center;
    display: flex;
}
.history-slider{
    width: 1459.200px;
    height: 401px;
   
    margin-top: -100px;
    
}
.history-hed{
    height:44px ;
    width:100%;
    background-color: #ffffff4f;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 14px;
}

    

    
   
    


.prodectslider-main{
   
    margin-left: 40px;
    margin-right: 40px;
   
    overflow-y: auto;
    
    
    
    
   
}
/**product*/
.productslider{
    
    width: 1379.200px;
    height: 357px; 
    display: flex;
    justify-content: space-between;
    
    
    
    
    
}
.leftslidebar{
    width: 40px;
    
    margin-left: -40px;
    
}
.left-arrow{
    width: 40px;
    width:357px;
    
    

}
.left-arrow a{
    position:absolute;
    
    z-index: 1;
    
    background-color: #ffffff4f;
    color: #0000007b;
    text-decoration: none;
    font-size: 32px;
    font-weight: 900;
    align-content: center;
    text-wrap: 2px;
    text-shadow: #f3f3f3;
    cursor: pointer;
    width: 40px;
    height: 357px;
    padding-inline-start: 0% ;
   padding:0px 10px;
    
    
}
.left-arrow i{
    align-content: center;
    justify-content: center;
    width: 36px;
    height: 38px;

}

.product-container{
    width: 1379.200px;
    height: 357px;
    padding: 5px 0%;
    margin-left: 28px;
    
    
    justify-content: center;
}
.product-dicription a{
    color: #007185;
    text-align: left;
    white-space: normal;
    letter-spacing: normal;
    font-weight: 500;
}
.star-container{
    transform: translate(-50%,-50%);
    margin-left: 50px;
    
    
    


}
.checked{
     
    color: rgb(255, 174, 0);
}
.prodectslider-main::-webkit-scrollbar{
    display: none;
}

.signcontainer{
    width:1479.200px;
    height: 125px;
}

.signinmain{
    width:1479.200px;
    height: 68px;
    margin-top: 19px;
    margin-bottom: 19px;

    align-items: center;
}
.signmessage{
    width: 1479.200px;
    height: 15px;
    align-items: center;
    justify-content: center;
    display: flex;


}
.siginbutton{
    width: 1479.200px;
    height: 38px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sigin{
    width: 230px;
    height: 28px;
   
    background-color: #febd68;
    border: 1px solid rgb(237, 141, 7);
    border-radius: 40px;
    font-size: 14px;
    font-weight: 700;

}
.newcustomer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.newcustomer a{
    color: #007185;
    font-size: 11px;
    cursor: pointer;
}
.newcustomer a:hover{
    color:red;
}

.footerpanel-1{
    color: white;
    background-color: #37475A;
    
    height: 49px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.footerpanel-2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    padding-top: 40px;
    
    justify-content: space-evenly;
    

    
}
ul p{
    font-size:16px ;
    font-weight: 700;
}
ul a{
    display: block;
    margin-top:10px;
    font-size: 14px;
    

}
  
.footerspacepanel{
width: 1520.800;
 height:40px;
    background-color: #222f3d;
    
}
.footerpanel3{
    background-color:#222f3d ;
    width: 1520.800px;
    height: 88px;
    border-top: 0.800px solid #DDD;

}
.panelitems-container{
    background-color:#222f3d;
   max-width:1000px;
   height: 68px;
   margin: 10px auto;
   display: flex;
   align-items: center;
   justify-content:space-evenly;
  
   
   

   

}


.englishusconainer{
   
    margin-left: 70px;
    float: right;
    
    
}
.english{
    width:175.55px ;
    
    padding-top: 6px ;
    padding-bottom:6px;
    padding-left: 8px;
    padding-right: 18px;
   
 
    border: 0.800px solid #DDD;
    border-radius: 10px;
    background-color: #222f3d;
    color: rgba(255, 255, 255, 0.785);
    
}

.english i{
   color: #DDD;
   float: left;
}
.footrpanel4{
  
    height: 500.600px;
    background-color:#131A22;
    color: #dadada;
    padding: 30px 0;

    
}
.panel4container{
   
    max-width: 1000px;
    margin:0 260.400px;
}
.panel4items{
    font-size: 12px ;
    padding: 0 .75em;
    vertical-align: top;
    text-align: left;
    line-height: 115%
}
.panel4itemstext{
color: rgba(174, 170, 170, 0.952);

}
.panel4space{
    width: 10px;
    padding: 0 10px;
}
.final-footer-main{
    height: 77.200px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color:#131A22 ;
}
.final-footer{
   
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(245 245 245 / 83%);
    font-size: 9px;
    font-weight: 100;
}
.final-footer ul{
    display: flex;
    list-style-type: none;
 
}
.final-footer a:hover{
    cursor: pointer;
    text-decoration: underline;
}
